* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(90deg, #43945b 0%, #5388b9);
}


.container0 {
    display: flex;
    justify-items: center;
 
}

.card {
    background: rgb(175, 159, 159);
    width: 330px;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
}

.card-image  img {
    background-color: rgb(26, 36, 36);
    margin-bottom: 15px;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0.5px;
    border-radius: 15px 15px 0 0;

}

a:link, a:visited,  a:hover, a:active{
    text-decoration: none;
    color: rgb(39, 56, 31);
    
    
}

.card h1 {
    position: relative;
    top: 85px;
    left: 1px;
    font-size: 17px;
    font-weight: 40;
    color: black;

}

.card p {
    position: relative;
    top: 79px;
    left: 1px;
    font-size: 9px;
    font-weight: 100;
    color: black;
}

.card:hover{
    background-color: rgb(62, 159, 159);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all ls ease;
}

.card-conatiner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}


