@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=PT+Sans+Narrow:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cookie&family=Fuzzy+Bubbles&family=Lobster&family=Pacifico&family=Redressed&family=Shadows+Into+Light&family=Vujahday+Script&display=swap');
* {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    width: 100%;
    height: 70vh;
  }
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(18, 82, 18);
  }

  .content2 {
    position: absolute;
    width: 100%;
    height: 15%;
    top: 0;
    right: 10px;
    display: flex;
    justify-content: right;
    color: white;
  }
  .content2 a {
    margin: 7px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 254, 254);


  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    /* background-color: #000000cc; */
  }

  .content h1 {
    color: #ff6600;
    font-size: 5rem;
    font-weight: 600;
    font-family: 'Shadows Into Light', cursive;
    }

    .content p {
      color: #e4cec0;
    }

    .content2 p {
      color: rgb(255, 254, 254);
    }